.desktop {
    display: block;
}
.mobile {
    display: none;
}

@media (max-width: 600px){
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

body {
    background-color: #111111;
    color: white
}

a:link {
    color: white;
}

a:visited, a:hover, a:active {
    color: darkgray;
}

.nodisplay {
    display: none;
}

.command {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1em;
}

.input {
    font-weight: bold;
}

.output {
    
}

.pre-wrap {
    white-space: pre-wrap;
}

.pre-line {
    white-space: pre-line;
}