body {
    background-color: #111111;
    color: white
}

a:link {
    color: white;
}

a:visited, a:hover, a:active {
    color: darkgray;
}

.nodisplay {
    display: none;
}

.command {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1em;
}

.prompt {
    margin-right: 10px;
}

.input {
    font-weight: bold;
    display: flex;
    width: 100%;
}

.output {
    width: 100%;
}

.pre-wrap {
    white-space: pre-wrap;
}

.pre-line {
    white-space: pre-line;
}